.title {
   line-height: 42px;
   color: #8e48ff;
   background: linear-gradient(180deg, #FD749B 10%, #281AC8 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding: 0 0 5px;
}