.welcome {
   .container {
      width: 1200px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__content {
      p {
         color: #333;
         font-size: 16px;
         line-height: 40px;
         padding: 30px 0;
      }
   }
}

@media screen and (max-width: 1199px) {
   .welcome {
      margin-top: -30px;

      .container {
         width: 100%;
         flex-direction: column;
         align-items: center;
         gap: 30px;
      }

      &__content {
         max-width: 570px;
      }
   }
}

@media screen and (max-width: 767px) {
   .welcome {
      margin-top: -80px;

      .container>img {
         max-width: 340px;
      }

      &__content {
         max-width: 500px;
      }
   }
}